@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,500&display=swap');
body{
  font-family: 'Sora', sans-serif;
}
.color-totalmotor{
    color: #DAA520;
}
.fondo-banderas{
    width: 28vw;
    height: 12vw;
    white-space: unset;
    position: absolute;
    text-align: center;
    bottom: 10%;
    right: 10%;
    text-transform: uppercase;

}
.banderas{
    width: 22vw;
    left: 10%;
}
.border-tm{
    border-color: #DAA520;
}
.h-100vh{
    height: 100vh;
}
nav{
    padding: 30px 0;
}
.logo{
    height: 84px;
width: 223px;
left: 94px;
top: 45px;
border-radius: 0px;

}
.bg-negroTM{
  background-color: #1D1D1D;
  background-image: url('@/static/images/motor.png');
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;

}
.subtexto{
    left: 10%;
    top: 15%;
    font-size: 1.5vw;
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
    color: black;
  -webkit-text-fill-color: #DAA520; 
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white; 

}
/* .subtexto{
    top: 15%;
    font-size: 1.5vw;
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
        color: #DAA520;
        text-shadow:
          0 0 2px #fff,
          0 0 7px #fff,
          0 0 10px #fff,
          0 0 21px #DAA520,
          0 0 20px #DAA520,
          0 0 41px #DAA520,
          0 0 68px #DAA520,
          0 0 92px #DAA520;
      
} */

.motores{
    font-size: 5rem;
    line-height: 87px;
    color: white;
    letter-spacing: 12%;
letter-spacing: 0.12em;
text-align: left;
}
.expertos{


font-size: 7rem;
letter-spacing: 12%;
font-style: normal;
font-weight: 400;
line-height: 87px;
text-align: left;




color: black;
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;

}

.boton1{



background: #DAA520;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35), 4px 4px 5px rgba(181, 165, 126, 0.35);
}
.boton2{
    color: #DAA520;
    background-color: transparent;
    border: 1px solid #DAA520;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35), 4px 4px 5px rgba(181, 165, 126, 0.35);
}
.lista{
    height: 100vh;
    display: flex;

}
.seccion-lista{
    position: relative;
}
.lista::before{
    content: "";
    background-image: url('@/static/images/motor4.png');
    background-position: center;
    position: absolute;
    top: 0vh;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.30;
    z-index: 0;
}
.lista-div{
    padding-left:10rem ;
    z-index: 100;
}
.lista-ul{
    display: flex;
    align-items: center;
    font-weight: 300;
    font-size: 1rem;
    white-space: normal;
    text-align: left;;
}

.lista-ul  li{
    margin: 35px 0;

}

.text-lista{
    color: #DAA520;
    font-weight: 600;
    z-index: 100;
}
.lista-ul ul li::before {
    content: "\2699";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: #DAA520; /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: -1em; /* Also needed for space (tweak if needed) */
  }
.stroke-text{
    color: black;
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #DAA520;
}
.historia-img{
    width: 230px;
    height: 230px;
    margin: 10px;
    border-radius: 2%;
    box-shadow:4px 4px 4px 4px rgba(0, 0, 0, 0.35), 4px 4px 4px 5px rgba(181, 165, 126, 0.35);
}
.h-50vh{
    height: 50vh;
}
.texto-problema-motor{
    line-height: 30px;
    letter-spacing: 0.055em;
}
.logo-blanco-text{
    margin: 75px auto;
}
.seccion-negra{
    background-color: #1D1D1D;
}
.iconos-cont p{
    letter-spacing: 0.055em;
    color: #ffff;
    font-weight: 100;
    font-size: 18px;
line-height: 21px;

}
.iconos-cont{

  transition: transform .5s ease-in-out;


}
.iconos-cont:hover {
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.align-cajas{
    padding: 0 100px;
}
.cuadro{
    width: 250px;
    height: 250px;
    background-color: white;
    margin: 20px 10px;
}

.cuadro img{
    width: 100%;
    height: 100%;
}
.garantia-extendida{
    font-weight: 600;
    letter-spacing: 0.045em;
font-style: normal;
font-size: 38px;
line-height: 58px;
width: 85%;
padding: 0 20px;
height: 200px;
margin: 100px auto;
background:  radial-gradient(90.16% 143.01% at 15.32% 21.04%, rgba(218, 165, 32, 0.2) 0%, rgba(226, 226, 226, 0.2) 77.08%, rgba(0, 0, 0, 0.2) 100%);
background-blend-mode: overlay, normal;
border: 3px solid #E9E9E9;
box-sizing: border-box;
backdrop-filter: blur(80px);
/* Note: backdrop-filter has minimal browser support */

border-radius: 5px;
}
.boton-contacto{
    margin: 0 auto;
    width: 300px;
    font-size: 28px;
    font-weight: 600;
    color: white;
height: 60px;
background-color: #DAA520;
}
.cuadro{

  transition: transform .5s ease-in-out;


}
.cuadro:hover {
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.bg-totalmotorA{
    background-color: #DAA520;
}
.bg-totalmotorB{
    background-color: #1D1D1D;
}
.VueCarousel-dot[data-v-438fd353]:focus{
    outline: none !important;
}
.cuadro-testimonio{
    width: 70%;
    height: 400px;
    background:  radial-gradient(90.16% 143.01% at 15.32% 21.04%, rgba(218, 165, 32, 0.2) 0%, rgba(226, 226, 226, 0.2) 77.08%, rgba(0, 0, 0, 0.2) 100%);
background-blend-mode: overlay, normal;
border: 3px solid #E9E9E9;
box-sizing: border-box;
backdrop-filter: blur(80px);
/* Note: backdrop-filter has minimal browser support */

border-radius: 5px;
}
.testimonio-img{
    width: 500px;
    height: 300px;

}
.testimonio-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100%;

}

.imagen-footer{
    border-right: 3px solid #DAA520;

}
.redes{
    width: 2rem;
    height: 2rem;
}
.menu-footer{
    color: #DAA520;
    font-size: 12px;
}
.creditos{
    border-top: 1px solid white;
}
.cuadro-motores {
    padding: 20px;
    background: radial-gradient(90.16% 143.01% at 15.32% 21.04%, rgba(218, 165, 32, 0.2) 0%, rgba(226, 226, 226, 0.2) 77.08%, rgba(0, 0, 0, 0.2) 100%);
    background-blend-mode: overlay, normal;
    border: 3px solid #E9E9E9;
    box-sizing: border-box;
    -webkit-backdrop-filter: blur(80px);
    backdrop-filter: blur(80px);
    border-radius: 5px;
}
.cuadro-motores img{
    max-width: 400px;
}
@media screen and (min-width:700px) and (max-width:1000px){
    .botones{
        text-align: center;
        justify-content: center;
        align-items: center;
    }
}
@media screen and (max-width:700px){
    
    .cuadro-motores img{
    max-width: 300px;
}
.fondo-banderas{
    width: 22rem;
    background-size: cover;
    left: 5%;
    background-position: center;
    top: 80%;

}
.banderas{
    width: 80%;
}
.cuadro-motor{
    width: auto;
    height: auto;
}
.testimonio-img{
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.testimonio-img img{
    max-width: 300px;
    max-height: 280px;
    object-fit: cover;
    border-radius: 100%;
}
.subtexto{
    display: flex;
    font-size: 1rem;
    padding: 1.5rem 22px;
    z-index: 0;

}
    .expertos{
        font-size: 3.5rem;
        text-align: center;
    }
    .motores{
        font-size: 2.5rem;
        text-align: center;
    }
    .lista-div{
    padding-left:0rem ;
    z-index: 0;
    }
    .lista-ul{
        align-items: center;
        font-size: .9rem;
        text-align: center;
    }
    .lista-ul  li{
        margin: 40px 0;

    }
    .garantia-extendida{
    font-size: 1.7rem;
    line-height: 3rem;
    width: 100%;
    padding: 0 20px;
    height: 60vh;
    margin: 0;
    margin-bottom: 10vh;
    }
    .cuadro{
        width: auto;
        height: auto;
        margin: 13px 46px;
    }
    .cuadro-testimonio{
    width: 100%;
    height: 600px;
    border: 1px solid #E9E9E9;

    }
    .imagen-footer{
    border-right: none;
    border-bottom: 3px solid #DAA520;

    }
}

.logotel{
    filter: invert(93%) sepia(18%) saturate(6852%) hue-rotate(342deg) brightness(89%) contrast(91%);
}
.botonWhats{
	position: fixed;
	z-index: 9999999;
	bottom: 105px;
	right: 20px;
	width: 4.1rem;
	text-align: center;
	font-size: 12px;
	cursor: pointer;
	padding-top: 0px;
	transition: all 0.3s ease-in-out;
}
.texto-contactanos{
	position: fixed;
	right: 0;
	bottom: 190px;
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: 50px;
	background-color: #DAA520;
	width: auto;
}
.boton-telefono{
	position: fixed;
	z-index: 9999999;
	bottom: 20px;
	right: 20px;
	width: 4.1rem;
	text-align: center;
	font-size: 12px;
	cursor: pointer;
	padding-top: 0px;
	transition: all 0.3s ease-in-out;
}
